body {
    padding: 0;
    text-align: center;
    background-image:url("../images/cheese-background.jpg");
    font-family: fantasy;
  }

  h1{
   
    font-size: 150px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200px;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 30px;
  }

  h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  #start-screen{
    display: block;
}
#start-screen button {
    all: unset;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    appearance: none;
    transition: transform .7s ease-in-out;

  }
  
  #start-screen button:hover{
    transform: rotate(360deg);
    
}

#start-screen img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrows{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 100px;
}

p{
    color: black;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}


#head-dog{
    width: 200px;
    height: 300px;
}

#game-start {
    display: none;
    align-content: center;
    
    overflow: hidden;
    position: relative;
    background-image: url(../images/street.jpg);
    background-size: cover;
    animation: slide 5s linear 1s infinite ;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes slide {
    0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
  }



  #game-end {
    display: none;
    align-content: center;    
    overflow: hidden;
    position: relative;
 
  }

  #game-end img{
    width: 250px;
    height: 340px;
    margin-left: 20px;
    
  }


  #game-end button{
    font-family: fantasy;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    background-color: rgb(220, 125, 0);
    background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

